a {
  cursor: pointer;
}

.comment-btn {
  margin: 10px 0;
}

.well.comment {
  margin: 5px 0;
  padding: 5px 10px;
}

.comment > header {
  color: #666;
  font-size: small;
  margin-bottom: 5px;
}

.comment > main {
  color: #000;
}
