li {
  list-style-type: none;
  text-align: center;
}

h5 {
  margin: 0 0 10px;
}

// .entry-header {
//   padding: 5px 15px;
// }

.entry-type {
  color: #fff;
  font-size: 1em;
  text-align: center;
}

.entry-tile {
	display: inline-block;
	padding: 10px;
	background: #f9f9f9;
	border: 1px solid #ddd;
	font-size: 1rem;
  margin: 0 0 2% 2%;
	vertical-align: top;
  width: 23%;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

ul.pokedex {
  font-size: 0px;
  list-style: none;
  margin-left: -2.5%;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0 0 10px;
}

li h3 {
	margin: 0 0 5px;
}

@media (max-width: 480px) {
  ul.pokedex-nav li {
		display: block;
		margin: 0 0 5px;
	}

  ul.pokedex {
		margin-left: 0;
	}

  li {
		width: 47% !important; /* over-ride all li styles */
		margin: 0 0 20px;
    text-align: center;
	}
}
