<h2>Poketeam</h2>

{{poketeam-entry pokemon=model}}

{{poketeam-entry/remove-pokemon-btn pokemon}}
<!-- {{#each model as |pokemon|}} -->

<!-- {{/each}} -->
<!-- addPokemon="addPokemon" removePokemon="removePokemon" pokemon="pokeFinder"-->
